<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="b6cd3c2158a64c23a61412db6faa2eb7" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_b6cd3c2158a64c23a61412db6faa2eb7 = echarts.init(
            document.getElementById('b6cd3c2158a64c23a61412db6faa2eb7'), 'white', {renderer: 'canvas'});
        var option_b6cd3c2158a64c23a61412db6faa2eb7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "name": "K\u7ebf",
            "data": [
                [
                    232.89,
                    232.78,
                    232.78,
                    233.15
                ],
                [
                    232.74,
                    232.23,
                    232.23,
                    232.95
                ],
                [
                    232.19,
                    232.15,
                    231.82,
                    232.46
                ],
                [
                    232.11,
                    232.43,
                    232.08,
                    232.76
                ],
                [
                    232.39,
                    231.92,
                    231.89,
                    232.48
                ],
                [
                    232.04,
                    231.99,
                    231.9,
                    232.23
                ],
                [
                    231.99,
                    232.37,
                    231.99,
                    232.43
                ],
                [
                    232.39,
                    232.11,
                    232.11,
                    232.44
                ],
                [
                    232.1,
                    232.37,
                    231.97,
                    232.53
                ],
                [
                    232.3,
                    232.78,
                    232.3,
                    232.83
                ],
                [
                    232.76,
                    233.27,
                    232.76,
                    233.3
                ],
                [
                    233.26,
                    233.11,
                    233.01,
                    233.29
                ],
                [
                    233.09,
                    233.19,
                    233.05,
                    233.3
                ],
                [
                    233.14,
                    233.18,
                    232.95,
                    233.39
                ],
                [
                    233.21,
                    232.83,
                    232.81,
                    233.26
                ],
                [
                    233.04,
                    232.3,
                    232.01,
                    233.1
                ],
                [
                    232.36,
                    232.44,
                    232.27,
                    232.48
                ],
                [
                    232.4,
                    232.25,
                    232.1,
                    232.67
                ],
                [
                    232.15,
                    231.54,
                    231.54,
                    232.26
                ],
                [
                    231.65,
                    231.88,
                    231.6,
                    232.13
                ],
                [
                    231.73,
                    232.06,
                    231.64,
                    232.31
                ],
                [
                    232.09,
                    232.07,
                    232.07,
                    232.44
                ],
                [
                    232.28,
                    231.89,
                    231.74,
                    232.4
                ],
                [
                    231.97,
                    231.96,
                    231.72,
                    232.04
                ],
                [
                    231.94,
                    231.89,
                    231.64,
                    231.96
                ],
                [
                    231.85,
                    231.69,
                    231.57,
                    231.88
                ],
                [
                    231.7,
                    231.78,
                    231.64,
                    231.92
                ],
                [
                    231.95,
                    231.89,
                    231.7,
                    232.08
                ],
                [
                    231.89,
                    232.08,
                    231.68,
                    232.12
                ],
                [
                    232.09,
                    231.74,
                    231.74,
                    232.14
                ],
                [
                    231.69,
                    232.12,
                    231.69,
                    232.12
                ],
                [
                    232.1,
                    232.28,
                    232.07,
                    232.37
                ],
                [
                    232.23,
                    232.36,
                    232.06,
                    232.38
                ],
                [
                    232.4,
                    232.58,
                    232.31,
                    232.79
                ],
                [
                    232.6,
                    232.5,
                    232.37,
                    232.78
                ],
                [
                    232.49,
                    232.22,
                    232.04,
                    232.49
                ],
                [
                    232.1,
                    232.18,
                    232.1,
                    232.21
                ],
                [
                    232.15,
                    231.88,
                    231.84,
                    232.52
                ],
                [
                    231.98,
                    232.07,
                    231.8,
                    232.14
                ],
                [
                    232.08,
                    231.95,
                    231.85,
                    232.17
                ],
                [
                    232.0,
                    232.39,
                    231.87,
                    232.43
                ],
                [
                    232.37,
                    232.35,
                    232.3,
                    232.45
                ],
                [
                    232.32,
                    232.12,
                    232.07,
                    232.41
                ],
                [
                    232.07,
                    231.95,
                    231.72,
                    232.08
                ],
                [
                    231.95,
                    231.97,
                    231.92,
                    232.25
                ],
                [
                    231.95,
                    232.16,
                    231.89,
                    232.24
                ],
                [
                    232.24,
                    232.32,
                    232.19,
                    232.49
                ],
                [
                    232.37,
                    232.29,
                    232.26,
                    232.51
                ],
                [
                    232.29,
                    232.2,
                    232.18,
                    232.36
                ],
                [
                    232.18,
                    232.1,
                    231.97,
                    232.23
                ],
                [
                    232.03,
                    232.28,
                    232.03,
                    232.37
                ],
                [
                    232.36,
                    232.37,
                    232.18,
                    232.43
                ],
                [
                    232.34,
                    232.26,
                    232.1,
                    232.34
                ],
                [
                    232.29,
                    232.26,
                    232.11,
                    232.32
                ],
                [
                    232.35,
                    232.6,
                    232.33,
                    232.67
                ],
                [
                    232.53,
                    232.65,
                    232.51,
                    232.79
                ],
                [
                    232.64,
                    232.92,
                    232.64,
                    233.22
                ],
                [
                    232.94,
                    232.77,
                    232.61,
                    232.94
                ],
                [
                    232.68,
                    232.57,
                    232.41,
                    232.82
                ],
                [
                    232.47,
                    232.36,
                    232.23,
                    232.63
                ],
                [
                    232.27,
                    232.81,
                    232.11,
                    233.02
                ],
                [
                    232.77,
                    232.68,
                    232.56,
                    232.85
                ],
                [
                    232.68,
                    232.96,
                    232.59,
                    233.05
                ],
                [
                    232.93,
                    232.84,
                    232.75,
                    232.93
                ],
                [
                    232.79,
                    233.01,
                    232.79,
                    233.04
                ],
                [
                    232.92,
                    233.09,
                    232.92,
                    233.09
                ],
                [
                    233.0,
                    233.48,
                    233.0,
                    233.77
                ],
                [
                    233.51,
                    233.55,
                    233.37,
                    233.75
                ],
                [
                    233.72,
                    233.67,
                    233.67,
                    234.05
                ],
                [
                    233.75,
                    234.01,
                    233.63,
                    234.03
                ],
                [
                    233.99,
                    233.85,
                    233.71,
                    233.99
                ],
                [
                    233.87,
                    233.55,
                    233.53,
                    233.9
                ],
                [
                    233.55,
                    233.52,
                    233.52,
                    233.55
                ],
                [
                    233.53,
                    233.37,
                    233.36,
                    233.56
                ],
                [
                    233.38,
                    233.21,
                    233.18,
                    233.38
                ],
                [
                    233.22,
                    233.38,
                    233.22,
                    233.39
                ],
                [
                    233.38,
                    233.3,
                    233.28,
                    233.38
                ],
                [
                    233.32,
                    233.26,
                    233.26,
                    233.32
                ],
                [
                    233.26,
                    233.29,
                    233.25,
                    233.29
                ],
                [
                    233.26,
                    233.16,
                    233.02,
                    233.5
                ],
                [
                    233.27,
                    233.92,
                    233.27,
                    233.94
                ],
                [
                    233.9,
                    233.8,
                    233.75,
                    233.9
                ],
                [
                    233.75,
                    233.7,
                    233.7,
                    233.84
                ],
                [
                    233.73,
                    233.92,
                    233.73,
                    234.01
                ],
                [
                    233.92,
                    233.87,
                    233.85,
                    233.92
                ],
                [
                    233.87,
                    233.76,
                    233.76,
                    233.87
                ],
                [
                    233.71,
                    233.74,
                    233.66,
                    233.78
                ],
                [
                    233.74,
                    233.65,
                    233.65,
                    233.74
                ],
                [
                    233.65,
                    233.67,
                    233.65,
                    233.73
                ],
                [
                    233.64,
                    233.36,
                    233.36,
                    233.64
                ],
                [
                    233.34,
                    233.04,
                    233.0,
                    233.34
                ],
                [
                    232.99,
                    232.51,
                    232.49,
                    232.99
                ],
                [
                    232.55,
                    232.8,
                    232.53,
                    232.97
                ],
                [
                    232.77,
                    232.71,
                    232.66,
                    232.77
                ],
                [
                    232.7,
                    232.9,
                    232.49,
                    232.92
                ],
                [
                    232.9,
                    232.78,
                    232.78,
                    232.9
                ],
                [
                    232.74,
                    232.04,
                    231.98,
                    232.74
                ],
                [
                    232.03,
                    232.04,
                    231.93,
                    232.16
                ],
                [
                    232.02,
                    231.39,
                    230.99,
                    232.03
                ],
                [
                    231.43,
                    231.05,
                    230.94,
                    231.43
                ],
                [
                    231.08,
                    231.42,
                    231.08,
                    231.46
                ],
                [
                    231.49,
                    231.51,
                    231.49,
                    231.69
                ],
                [
                    231.6,
                    231.55,
                    231.46,
                    231.65
                ],
                [
                    231.51,
                    231.66,
                    231.42,
                    231.68
                ],
                [
                    231.71,
                    231.91,
                    231.71,
                    232.02
                ],
                [
                    231.93,
                    231.84,
                    231.84,
                    232.08
                ],
                [
                    231.87,
                    231.99,
                    231.85,
                    231.99
                ],
                [
                    231.97,
                    231.56,
                    231.45,
                    231.97
                ],
                [
                    231.75,
                    231.76,
                    231.63,
                    231.86
                ],
                [
                    231.76,
                    232.05,
                    231.76,
                    232.05
                ],
                [
                    231.98,
                    231.69,
                    231.69,
                    231.98
                ],
                [
                    231.68,
                    231.64,
                    231.64,
                    231.75
                ],
                [
                    231.63,
                    231.93,
                    231.63,
                    231.93
                ],
                [
                    232.01,
                    232.33,
                    232.01,
                    232.36
                ],
                [
                    232.34,
                    232.41,
                    232.04,
                    232.45
                ],
                [
                    232.46,
                    232.53,
                    232.41,
                    232.7
                ],
                [
                    232.52,
                    232.61,
                    232.52,
                    232.75
                ],
                [
                    232.61,
                    232.51,
                    232.42,
                    232.66
                ],
                [
                    232.51,
                    232.73,
                    232.44,
                    232.73
                ],
                [
                    232.71,
                    233.01,
                    232.55,
                    233.16
                ],
                [
                    232.98,
                    233.48,
                    232.9,
                    233.52
                ],
                [
                    233.45,
                    233.63,
                    233.38,
                    233.66
                ],
                [
                    233.64,
                    233.53,
                    233.37,
                    233.64
                ],
                [
                    233.54,
                    233.32,
                    233.24,
                    233.54
                ],
                [
                    233.33,
                    233.79,
                    233.3,
                    233.8
                ],
                [
                    233.81,
                    233.85,
                    233.76,
                    234.0
                ],
                [
                    233.83,
                    232.89,
                    232.89,
                    233.94
                ],
                [
                    232.83,
                    232.71,
                    232.49,
                    233.12
                ],
                [
                    232.71,
                    232.51,
                    232.46,
                    232.76
                ],
                [
                    232.55,
                    232.63,
                    232.39,
                    232.71
                ],
                [
                    232.58,
                    232.88,
                    232.52,
                    232.88
                ],
                [
                    232.89,
                    233.12,
                    232.68,
                    233.17
                ],
                [
                    233.13,
                    232.96,
                    232.85,
                    233.15
                ],
                [
                    233.02,
                    233.09,
                    233.02,
                    233.24
                ],
                [
                    233.03,
                    233.32,
                    233.03,
                    233.32
                ],
                [
                    233.32,
                    232.71,
                    232.71,
                    233.32
                ],
                [
                    232.71,
                    232.86,
                    232.61,
                    232.89
                ],
                [
                    232.88,
                    232.78,
                    232.72,
                    232.99
                ],
                [
                    232.79,
                    233.41,
                    232.79,
                    233.74
                ],
                [
                    233.48,
                    233.64,
                    233.45,
                    234.0
                ],
                [
                    233.6,
                    232.87,
                    232.51,
                    233.6
                ],
                [
                    232.76,
                    232.4,
                    232.34,
                    232.77
                ],
                [
                    232.35,
                    232.2,
                    232.12,
                    232.45
                ],
                [
                    232.18,
                    232.14,
                    231.76,
                    232.18
                ],
                [
                    232.27,
                    231.66,
                    231.5,
                    232.27
                ],
                [
                    231.74,
                    231.71,
                    231.56,
                    231.89
                ],
                [
                    231.71,
                    232.1,
                    231.62,
                    232.18
                ],
                [
                    232.05,
                    231.62,
                    231.56,
                    232.14
                ],
                [
                    231.62,
                    231.87,
                    231.54,
                    231.93
                ],
                [
                    231.74,
                    231.82,
                    231.7,
                    231.94
                ],
                [
                    231.88,
                    231.84,
                    231.8,
                    231.93
                ],
                [
                    231.8,
                    232.05,
                    231.8,
                    232.11
                ],
                [
                    232.05,
                    231.66,
                    231.52,
                    232.12
                ],
                [
                    231.69,
                    231.84,
                    231.64,
                    231.88
                ],
                [
                    231.9,
                    232.18,
                    231.9,
                    232.18
                ],
                [
                    232.26,
                    232.3,
                    231.99,
                    232.3
                ],
                [
                    232.3,
                    232.19,
                    232.13,
                    232.37
                ],
                [
                    232.2,
                    232.5,
                    232.2,
                    232.78
                ],
                [
                    232.45,
                    232.51,
                    232.43,
                    232.65
                ],
                [
                    232.49,
                    232.46,
                    232.29,
                    232.56
                ],
                [
                    232.57,
                    232.45,
                    232.3,
                    232.6
                ],
                [
                    232.46,
                    233.07,
                    232.46,
                    233.1
                ],
                [
                    233.04,
                    232.44,
                    232.42,
                    233.04
                ],
                [
                    232.38,
                    232.71,
                    232.38,
                    232.81
                ],
                [
                    232.72,
                    233.16,
                    232.67,
                    233.24
                ],
                [
                    233.04,
                    233.32,
                    233.02,
                    233.51
                ],
                [
                    233.36,
                    233.27,
                    233.16,
                    233.43
                ],
                [
                    233.36,
                    233.42,
                    233.3,
                    233.7
                ],
                [
                    233.39,
                    233.25,
                    233.17,
                    233.59
                ],
                [
                    233.36,
                    233.61,
                    233.33,
                    233.7
                ],
                [
                    233.58,
                    234.18,
                    233.58,
                    234.29
                ],
                [
                    234.18,
                    234.96,
                    233.79,
                    235.37
                ],
                [
                    234.95,
                    234.63,
                    234.24,
                    235.0
                ],
                [
                    234.62,
                    234.43,
                    234.11,
                    234.62
                ],
                [
                    234.41,
                    234.41,
                    234.23,
                    234.91
                ],
                [
                    234.41,
                    234.39,
                    233.84,
                    234.41
                ],
                [
                    234.35,
                    234.33,
                    234.05,
                    234.45
                ],
                [
                    234.37,
                    234.75,
                    234.36,
                    235.64
                ],
                [
                    234.78,
                    234.69,
                    234.43,
                    235.12
                ],
                [
                    234.78,
                    234.94,
                    234.78,
                    235.46
                ],
                [
                    234.9,
                    234.46,
                    233.99,
                    234.9
                ],
                [
                    234.47,
                    233.75,
                    233.37,
                    234.47
                ],
                [
                    233.68,
                    233.26,
                    233.24,
                    233.68
                ],
                [
                    233.23,
                    233.24,
                    232.86,
                    233.82
                ],
                [
                    233.21,
                    233.09,
                    232.64,
                    233.41
                ],
                [
                    233.09,
                    232.96,
                    232.92,
                    233.41
                ],
                [
                    232.92,
                    233.5,
                    232.92,
                    233.63
                ],
                [
                    233.49,
                    233.08,
                    233.08,
                    233.49
                ],
                [
                    233.06,
                    233.23,
                    233.06,
                    233.32
                ]
            ]
        }
    ],
    "legend": [
        {
            "data": [
                "K\u7ebf"
            ],
            "selected": {
                "K\u7ebf": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020-04-23 01:00:00",
                "2020-04-23 01:03:00",
                "2020-04-23 01:06:00",
                "2020-04-23 01:09:00",
                "2020-04-23 01:12:00",
                "2020-04-23 01:15:00",
                "2020-04-23 01:18:00",
                "2020-04-23 01:21:00",
                "2020-04-23 01:24:00",
                "2020-04-23 01:27:00",
                "2020-04-23 01:30:00",
                "2020-04-23 01:33:00",
                "2020-04-23 01:36:00",
                "2020-04-23 01:39:00",
                "2020-04-23 01:42:00",
                "2020-04-23 01:45:00",
                "2020-04-23 01:48:00",
                "2020-04-23 01:51:00",
                "2020-04-23 01:54:00",
                "2020-04-23 01:57:00",
                "2020-04-23 02:00:00",
                "2020-04-23 02:03:00",
                "2020-04-23 02:06:00",
                "2020-04-23 02:09:00",
                "2020-04-23 02:12:00",
                "2020-04-23 02:15:00",
                "2020-04-23 02:18:00",
                "2020-04-23 02:21:00",
                "2020-04-23 02:24:00",
                "2020-04-23 02:27:00",
                "2020-04-23 02:30:00",
                "2020-04-23 02:33:00",
                "2020-04-23 02:36:00",
                "2020-04-23 02:39:00",
                "2020-04-23 02:42:00",
                "2020-04-23 02:45:00",
                "2020-04-23 02:48:00",
                "2020-04-23 02:51:00",
                "2020-04-23 02:54:00",
                "2020-04-23 02:57:00",
                "2020-04-23 03:00:00",
                "2020-04-23 03:03:00",
                "2020-04-23 03:06:00",
                "2020-04-23 03:09:00",
                "2020-04-23 03:12:00",
                "2020-04-23 03:15:00",
                "2020-04-23 03:18:00",
                "2020-04-23 03:21:00",
                "2020-04-23 03:24:00",
                "2020-04-23 03:27:00",
                "2020-04-23 03:30:00",
                "2020-04-23 03:33:00",
                "2020-04-23 03:36:00",
                "2020-04-23 03:39:00",
                "2020-04-23 03:42:00",
                "2020-04-23 03:45:00",
                "2020-04-23 03:48:00",
                "2020-04-23 03:51:00",
                "2020-04-23 03:54:00",
                "2020-04-23 03:57:00",
                "2020-04-23 04:00:00",
                "2020-04-23 04:03:00",
                "2020-04-23 04:06:00",
                "2020-04-23 04:09:00",
                "2020-04-23 04:12:00",
                "2020-04-23 04:15:00",
                "2020-04-23 04:18:00",
                "2020-04-23 04:21:00",
                "2020-04-23 04:24:00",
                "2020-04-23 04:27:00",
                "2020-04-23 04:30:00",
                "2020-04-23 04:33:00",
                "2020-04-23 04:36:00",
                "2020-04-23 04:39:00",
                "2020-04-23 04:42:00",
                "2020-04-23 04:45:00",
                "2020-04-23 04:48:00",
                "2020-04-23 04:51:00",
                "2020-04-23 04:54:00",
                "2020-04-23 04:57:00",
                "2020-04-23 05:00:00",
                "2020-04-23 05:03:00",
                "2020-04-23 05:06:00",
                "2020-04-23 05:12:00",
                "2020-04-23 05:15:00",
                "2020-04-23 05:18:00",
                "2020-04-23 05:21:00",
                "2020-04-23 05:24:00",
                "2020-04-23 05:27:00",
                "2020-04-23 05:30:00",
                "2020-04-23 05:33:00",
                "2020-04-23 05:36:00",
                "2020-04-23 05:39:00",
                "2020-04-23 05:42:00",
                "2020-04-23 05:45:00",
                "2020-04-23 05:48:00",
                "2020-04-23 05:51:00",
                "2020-04-23 05:54:00",
                "2020-04-23 05:57:00",
                "2020-04-23 06:00:00",
                "2020-04-23 06:03:00",
                "2020-04-23 06:06:00",
                "2020-04-23 06:09:00",
                "2020-04-23 06:12:00",
                "2020-04-23 06:15:00",
                "2020-04-23 06:18:00",
                "2020-04-23 06:21:00",
                "2020-04-23 06:24:00",
                "2020-04-23 06:27:00",
                "2020-04-23 06:30:00",
                "2020-04-23 06:33:00",
                "2020-04-23 06:36:00",
                "2020-04-23 06:39:00",
                "2020-04-23 06:42:00",
                "2020-04-23 06:45:00",
                "2020-04-23 06:48:00",
                "2020-04-23 06:51:00",
                "2020-04-23 06:54:00",
                "2020-04-23 06:57:00",
                "2020-04-23 07:00:00",
                "2020-04-23 07:03:00",
                "2020-04-23 07:06:00",
                "2020-04-23 07:09:00",
                "2020-04-23 07:12:00",
                "2020-04-23 07:15:00",
                "2020-04-23 07:18:00",
                "2020-04-23 07:21:00",
                "2020-04-23 07:24:00",
                "2020-04-23 07:27:00",
                "2020-04-23 07:30:00",
                "2020-04-23 07:33:00",
                "2020-04-23 07:36:00",
                "2020-04-23 07:39:00",
                "2020-04-23 07:42:00",
                "2020-04-23 07:45:00",
                "2020-04-23 07:48:00",
                "2020-04-23 07:51:00",
                "2020-04-23 07:54:00",
                "2020-04-23 07:57:00",
                "2020-04-23 08:00:00",
                "2020-04-23 08:03:00",
                "2020-04-23 08:06:00",
                "2020-04-23 08:09:00",
                "2020-04-23 08:12:00",
                "2020-04-23 08:15:00",
                "2020-04-23 08:18:00",
                "2020-04-23 08:21:00",
                "2020-04-23 08:24:00",
                "2020-04-23 08:27:00",
                "2020-04-23 08:30:00",
                "2020-04-23 08:33:00",
                "2020-04-23 08:36:00",
                "2020-04-23 08:39:00",
                "2020-04-23 08:42:00",
                "2020-04-23 08:45:00",
                "2020-04-23 08:48:00",
                "2020-04-23 08:51:00",
                "2020-04-23 08:54:00",
                "2020-04-23 08:57:00",
                "2020-04-23 09:00:00",
                "2020-04-23 09:03:00",
                "2020-04-23 09:06:00",
                "2020-04-23 09:09:00",
                "2020-04-23 09:12:00",
                "2020-04-23 09:15:00",
                "2020-04-23 09:18:00",
                "2020-04-23 09:21:00",
                "2020-04-23 09:24:00",
                "2020-04-23 09:27:00",
                "2020-04-23 09:30:00",
                "2020-04-23 09:33:00",
                "2020-04-23 09:36:00",
                "2020-04-23 09:39:00",
                "2020-04-23 09:42:00",
                "2020-04-23 09:45:00",
                "2020-04-23 09:48:00",
                "2020-04-23 09:51:00",
                "2020-04-23 09:54:00",
                "2020-04-23 09:57:00",
                "2020-04-23 10:00:00",
                "2020-04-23 10:03:00",
                "2020-04-23 10:06:00",
                "2020-04-23 10:09:00",
                "2020-04-23 10:12:00",
                "2020-04-23 10:15:00",
                "2020-04-23 10:18:00",
                "2020-04-23 10:21:00",
                "2020-04-23 10:24:00",
                "2020-04-23 10:27:00"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 1
                }
            }
        }
    ],
    "title": [
        {
            "text": "BCH-USD-SWAP",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false
        }
    ]
};
        chart_b6cd3c2158a64c23a61412db6faa2eb7.setOption(option_b6cd3c2158a64c23a61412db6faa2eb7);
    </script>
</body>
</html>
