<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="2b7c1e17bab84543838bdfbc2e9ddac8" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_2b7c1e17bab84543838bdfbc2e9ddac8 = echarts.init(
            document.getElementById('2b7c1e17bab84543838bdfbc2e9ddac8'), 'white', {renderer: 'canvas'});
        var option_2b7c1e17bab84543838bdfbc2e9ddac8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "name": "K\u7ebf",
            "data": [
                [
                    219.73,
                    219.88,
                    219.16,
                    220.06
                ],
                [
                    219.88,
                    220.21,
                    219.79,
                    220.31
                ],
                [
                    220.25,
                    219.7,
                    219.69,
                    220.43
                ],
                [
                    219.67,
                    219.21,
                    219.06,
                    219.88
                ],
                [
                    219.1,
                    219.34,
                    218.37,
                    219.54
                ],
                [
                    219.45,
                    219.05,
                    219.03,
                    219.47
                ],
                [
                    219.02,
                    218.79,
                    218.55,
                    219.07
                ],
                [
                    218.68,
                    218.42,
                    218.07,
                    218.88
                ],
                [
                    218.41,
                    218.43,
                    218.27,
                    218.76
                ],
                [
                    218.37,
                    218.3,
                    217.68,
                    218.6
                ],
                [
                    218.23,
                    218.78,
                    218.22,
                    218.88
                ],
                [
                    218.83,
                    218.79,
                    218.55,
                    219.17
                ],
                [
                    218.81,
                    218.17,
                    218.17,
                    218.95
                ],
                [
                    218.22,
                    218.16,
                    218.09,
                    218.45
                ],
                [
                    218.1,
                    218.18,
                    217.98,
                    218.21
                ],
                [
                    218.22,
                    219.19,
                    218.22,
                    219.28
                ],
                [
                    219.19,
                    219.32,
                    218.93,
                    219.46
                ],
                [
                    219.32,
                    219.51,
                    219.17,
                    219.55
                ],
                [
                    219.54,
                    219.53,
                    219.25,
                    219.71
                ],
                [
                    219.51,
                    219.08,
                    218.83,
                    219.59
                ],
                [
                    219.18,
                    219.67,
                    219.04,
                    219.86
                ],
                [
                    219.62,
                    219.89,
                    219.42,
                    219.89
                ],
                [
                    219.86,
                    219.72,
                    219.58,
                    219.89
                ],
                [
                    219.77,
                    220.14,
                    219.77,
                    220.16
                ],
                [
                    220.19,
                    220.02,
                    219.84,
                    220.19
                ],
                [
                    220.01,
                    220.22,
                    219.92,
                    220.29
                ],
                [
                    220.15,
                    219.79,
                    219.75,
                    220.33
                ],
                [
                    219.8,
                    219.91,
                    219.72,
                    220.01
                ],
                [
                    219.92,
                    220.74,
                    219.92,
                    220.74
                ],
                [
                    220.77,
                    221.21,
                    220.77,
                    221.25
                ],
                [
                    221.08,
                    221.4,
                    221.08,
                    221.42
                ],
                [
                    221.51,
                    221.32,
                    220.96,
                    221.6
                ],
                [
                    221.32,
                    221.51,
                    221.05,
                    221.58
                ],
                [
                    221.52,
                    221.54,
                    221.34,
                    221.89
                ],
                [
                    221.5,
                    221.24,
                    220.93,
                    221.72
                ],
                [
                    221.28,
                    220.87,
                    220.83,
                    221.28
                ],
                [
                    220.83,
                    221.08,
                    220.73,
                    221.24
                ],
                [
                    221.0,
                    220.98,
                    220.91,
                    221.33
                ],
                [
                    220.97,
                    220.66,
                    220.66,
                    221.12
                ],
                [
                    220.67,
                    220.9,
                    220.67,
                    221.0
                ],
                [
                    220.89,
                    220.25,
                    220.22,
                    220.92
                ],
                [
                    220.39,
                    220.33,
                    220.14,
                    220.39
                ],
                [
                    220.29,
                    220.59,
                    220.29,
                    220.61
                ],
                [
                    220.6,
                    220.29,
                    220.05,
                    220.6
                ],
                [
                    220.35,
                    220.26,
                    220.09,
                    220.47
                ],
                [
                    220.17,
                    220.54,
                    220.17,
                    220.7
                ],
                [
                    220.55,
                    220.75,
                    220.23,
                    220.81
                ],
                [
                    220.75,
                    220.65,
                    220.47,
                    220.82
                ],
                [
                    220.64,
                    219.99,
                    219.63,
                    220.64
                ],
                [
                    219.97,
                    220.05,
                    219.92,
                    220.19
                ],
                [
                    220.0,
                    220.7,
                    220.0,
                    220.7
                ],
                [
                    220.71,
                    220.74,
                    220.6,
                    220.97
                ],
                [
                    220.8,
                    220.58,
                    220.44,
                    220.93
                ],
                [
                    220.57,
                    220.68,
                    220.46,
                    220.74
                ],
                [
                    220.69,
                    220.37,
                    220.34,
                    220.71
                ],
                [
                    220.39,
                    220.41,
                    220.36,
                    220.58
                ],
                [
                    220.37,
                    220.34,
                    220.24,
                    220.37
                ],
                [
                    220.34,
                    220.12,
                    220.07,
                    220.43
                ],
                [
                    220.1,
                    219.98,
                    219.95,
                    220.13
                ],
                [
                    219.98,
                    219.87,
                    219.84,
                    220.2
                ],
                [
                    219.88,
                    219.92,
                    219.65,
                    220.08
                ],
                [
                    219.88,
                    219.83,
                    219.79,
                    220.25
                ],
                [
                    219.89,
                    220.1,
                    219.78,
                    220.19
                ],
                [
                    220.12,
                    220.47,
                    220.12,
                    220.47
                ],
                [
                    220.47,
                    219.81,
                    219.81,
                    220.47
                ],
                [
                    219.81,
                    220.3,
                    219.81,
                    220.47
                ],
                [
                    220.3,
                    220.95,
                    220.21,
                    221.19
                ],
                [
                    220.97,
                    221.71,
                    220.97,
                    221.73
                ],
                [
                    221.67,
                    221.24,
                    221.19,
                    221.86
                ],
                [
                    221.24,
                    221.68,
                    221.24,
                    221.78
                ],
                [
                    221.69,
                    222.97,
                    221.69,
                    223.24
                ],
                [
                    222.98,
                    222.62,
                    222.55,
                    223.33
                ],
                [
                    222.62,
                    221.7,
                    221.37,
                    222.84
                ],
                [
                    221.75,
                    222.07,
                    221.46,
                    222.07
                ],
                [
                    222.08,
                    222.19,
                    221.85,
                    222.22
                ],
                [
                    222.21,
                    222.94,
                    222.21,
                    223.21
                ],
                [
                    222.89,
                    222.29,
                    221.81,
                    222.93
                ],
                [
                    222.2,
                    222.09,
                    221.97,
                    222.55
                ],
                [
                    222.15,
                    222.19,
                    221.53,
                    222.27
                ],
                [
                    222.23,
                    221.79,
                    221.79,
                    222.38
                ],
                [
                    221.85,
                    221.87,
                    221.57,
                    221.87
                ],
                [
                    221.84,
                    222.25,
                    221.65,
                    222.43
                ],
                [
                    222.21,
                    222.44,
                    222.15,
                    222.57
                ],
                [
                    222.44,
                    223.05,
                    222.31,
                    223.06
                ],
                [
                    223.0,
                    222.34,
                    222.32,
                    223.28
                ],
                [
                    222.35,
                    222.54,
                    222.27,
                    222.86
                ],
                [
                    222.56,
                    222.46,
                    222.27,
                    222.64
                ],
                [
                    222.56,
                    222.48,
                    222.39,
                    222.67
                ],
                [
                    222.53,
                    222.21,
                    221.96,
                    222.53
                ],
                [
                    222.23,
                    223.09,
                    222.18,
                    223.73
                ],
                [
                    223.18,
                    223.75,
                    223.17,
                    224.0
                ],
                [
                    223.8,
                    223.33,
                    223.01,
                    223.8
                ],
                [
                    223.44,
                    223.63,
                    223.36,
                    223.68
                ],
                [
                    223.66,
                    223.3,
                    223.21,
                    224.0
                ],
                [
                    223.24,
                    222.85,
                    222.84,
                    223.38
                ],
                [
                    222.83,
                    223.06,
                    222.55,
                    223.13
                ],
                [
                    223.05,
                    222.57,
                    222.49,
                    223.41
                ],
                [
                    222.64,
                    223.05,
                    222.64,
                    223.08
                ],
                [
                    223.07,
                    222.66,
                    222.66,
                    223.21
                ],
                [
                    222.66,
                    223.14,
                    222.65,
                    223.28
                ],
                [
                    223.18,
                    222.51,
                    222.47,
                    223.29
                ],
                [
                    222.51,
                    222.52,
                    222.43,
                    222.94
                ],
                [
                    222.52,
                    222.22,
                    222.2,
                    222.59
                ],
                [
                    222.22,
                    222.78,
                    222.08,
                    222.98
                ],
                [
                    222.8,
                    222.6,
                    222.6,
                    222.92
                ],
                [
                    222.6,
                    223.17,
                    222.49,
                    223.26
                ],
                [
                    223.14,
                    223.3,
                    223.11,
                    223.34
                ],
                [
                    223.28,
                    223.3,
                    223.17,
                    223.5
                ],
                [
                    223.28,
                    223.44,
                    223.25,
                    223.98
                ],
                [
                    223.44,
                    223.67,
                    223.44,
                    223.99
                ],
                [
                    223.72,
                    223.55,
                    223.41,
                    223.8
                ],
                [
                    223.57,
                    223.14,
                    223.08,
                    223.63
                ],
                [
                    223.14,
                    222.79,
                    222.79,
                    223.26
                ],
                [
                    222.8,
                    222.79,
                    222.77,
                    223.22
                ],
                [
                    222.79,
                    223.2,
                    222.6,
                    223.25
                ],
                [
                    223.22,
                    223.47,
                    223.18,
                    223.47
                ],
                [
                    223.38,
                    223.18,
                    223.14,
                    223.41
                ],
                [
                    223.14,
                    223.38,
                    222.88,
                    223.39
                ],
                [
                    223.38,
                    223.31,
                    223.0,
                    223.58
                ],
                [
                    223.36,
                    222.98,
                    222.98,
                    223.45
                ],
                [
                    222.99,
                    222.86,
                    222.64,
                    223.1
                ],
                [
                    222.85,
                    222.53,
                    222.36,
                    222.85
                ],
                [
                    222.52,
                    222.47,
                    222.32,
                    222.8
                ],
                [
                    222.48,
                    222.65,
                    222.33,
                    222.76
                ],
                [
                    222.63,
                    223.12,
                    222.61,
                    223.52
                ],
                [
                    223.17,
                    223.12,
                    222.99,
                    223.27
                ],
                [
                    223.14,
                    223.01,
                    222.96,
                    223.26
                ],
                [
                    222.95,
                    223.12,
                    222.74,
                    223.12
                ],
                [
                    223.12,
                    222.81,
                    222.78,
                    223.15
                ],
                [
                    222.89,
                    223.12,
                    222.84,
                    223.12
                ],
                [
                    223.12,
                    222.9,
                    222.85,
                    223.12
                ],
                [
                    222.78,
                    223.2,
                    222.67,
                    223.2
                ],
                [
                    223.19,
                    222.94,
                    222.67,
                    223.19
                ],
                [
                    222.85,
                    223.58,
                    222.78,
                    223.74
                ],
                [
                    223.56,
                    224.25,
                    223.56,
                    224.35
                ],
                [
                    224.38,
                    224.45,
                    224.27,
                    225.13
                ],
                [
                    224.4,
                    224.48,
                    224.13,
                    224.48
                ],
                [
                    224.46,
                    225.0,
                    224.3,
                    225.14
                ],
                [
                    225.01,
                    225.07,
                    224.91,
                    225.23
                ],
                [
                    225.11,
                    224.82,
                    224.51,
                    225.19
                ],
                [
                    224.9,
                    224.47,
                    224.43,
                    224.93
                ],
                [
                    224.47,
                    224.56,
                    224.36,
                    224.59
                ],
                [
                    224.56,
                    224.91,
                    224.56,
                    224.91
                ],
                [
                    224.92,
                    225.18,
                    224.72,
                    225.18
                ],
                [
                    225.19,
                    225.56,
                    225.19,
                    225.98
                ],
                [
                    225.55,
                    224.74,
                    224.59,
                    225.55
                ],
                [
                    224.8,
                    224.39,
                    224.23,
                    224.91
                ],
                [
                    224.48,
                    224.48,
                    224.05,
                    224.63
                ],
                [
                    224.48,
                    224.48,
                    224.15,
                    224.6
                ],
                [
                    224.5,
                    224.37,
                    224.35,
                    224.81
                ],
                [
                    224.34,
                    224.04,
                    223.74,
                    224.53
                ],
                [
                    223.99,
                    224.38,
                    223.94,
                    224.5
                ],
                [
                    224.5,
                    224.91,
                    224.5,
                    225.12
                ],
                [
                    224.92,
                    224.76,
                    224.71,
                    224.95
                ],
                [
                    224.76,
                    224.99,
                    224.61,
                    225.07
                ],
                [
                    224.94,
                    225.04,
                    224.85,
                    225.43
                ],
                [
                    225.03,
                    225.13,
                    224.89,
                    225.3
                ],
                [
                    225.12,
                    224.68,
                    224.5,
                    225.12
                ],
                [
                    224.68,
                    225.08,
                    224.68,
                    225.15
                ],
                [
                    225.11,
                    227.48,
                    225.1,
                    227.48
                ],
                [
                    227.38,
                    227.6,
                    226.81,
                    229.19
                ],
                [
                    227.72,
                    228.4,
                    227.6,
                    228.46
                ],
                [
                    228.36,
                    229.05,
                    228.36,
                    230.61
                ],
                [
                    229.04,
                    229.77,
                    228.84,
                    229.88
                ],
                [
                    229.76,
                    229.58,
                    229.31,
                    229.88
                ],
                [
                    229.59,
                    229.71,
                    229.51,
                    230.61
                ],
                [
                    229.66,
                    229.39,
                    229.08,
                    230.0
                ],
                [
                    229.38,
                    229.31,
                    229.16,
                    229.68
                ],
                [
                    229.28,
                    229.35,
                    229.28,
                    230.27
                ],
                [
                    229.37,
                    229.33,
                    229.15,
                    229.68
                ],
                [
                    229.33,
                    229.54,
                    229.15,
                    229.72
                ],
                [
                    229.45,
                    229.87,
                    229.45,
                    229.99
                ],
                [
                    229.88,
                    230.14,
                    229.88,
                    230.69
                ],
                [
                    230.17,
                    230.05,
                    229.88,
                    230.43
                ],
                [
                    230.06,
                    230.89,
                    230.06,
                    232.2
                ],
                [
                    230.86,
                    231.79,
                    230.61,
                    231.91
                ],
                [
                    231.83,
                    231.42,
                    231.14,
                    231.85
                ],
                [
                    231.48,
                    230.96,
                    230.81,
                    232.11
                ],
                [
                    231.07,
                    230.3,
                    230.04,
                    231.36
                ],
                [
                    230.28,
                    230.28,
                    229.9,
                    230.36
                ],
                [
                    230.34,
                    229.59,
                    229.58,
                    230.72
                ],
                [
                    229.59,
                    229.39,
                    229.0,
                    229.77
                ],
                [
                    229.35,
                    229.62,
                    229.18,
                    229.86
                ],
                [
                    229.59,
                    229.79,
                    229.54,
                    229.95
                ],
                [
                    229.83,
                    231.55,
                    229.45,
                    231.55
                ],
                [
                    231.55,
                    230.99,
                    230.82,
                    231.55
                ],
                [
                    231.0,
                    230.91,
                    230.72,
                    231.21
                ],
                [
                    230.93,
                    230.7,
                    230.67,
                    231.16
                ],
                [
                    230.91,
                    231.55,
                    230.66,
                    231.55
                ],
                [
                    231.57,
                    231.49,
                    231.2,
                    231.97
                ],
                [
                    231.46,
                    232.56,
                    231.23,
                    232.97
                ],
                [
                    232.48,
                    232.99,
                    231.92,
                    232.99
                ],
                [
                    232.97,
                    232.61,
                    232.2,
                    234.28
                ],
                [
                    232.57,
                    232.54,
                    232.54,
                    233.16
                ],
                [
                    232.53,
                    232.36,
                    232.02,
                    232.87
                ],
                [
                    232.35,
                    233.6,
                    232.35,
                    233.68
                ],
                [
                    233.66,
                    234.04,
                    233.14,
                    234.29
                ],
                [
                    234.01,
                    234.63,
                    233.8,
                    234.86
                ],
                [
                    234.63,
                    235.77,
                    234.41,
                    236.78
                ],
                [
                    235.57,
                    235.08,
                    234.59,
                    235.93
                ],
                [
                    234.99,
                    234.15,
                    233.96,
                    235.07
                ],
                [
                    234.15,
                    234.21,
                    234.04,
                    235.04
                ],
                [
                    234.11,
                    233.08,
                    232.96,
                    234.11
                ],
                [
                    233.08,
                    232.83,
                    232.13,
                    233.08
                ],
                [
                    232.89,
                    232.69,
                    232.66,
                    233.15
                ],
                [
                    232.68,
                    232.32,
                    231.82,
                    232.68
                ],
                [
                    232.31,
                    232.39,
                    232.3,
                    232.55
                ]
            ]
        }
    ],
    "legend": [
        {
            "data": [
                "K\u7ebf"
            ],
            "selected": {
                "K\u7ebf": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020-04-22 00:00:00",
                "2020-04-22 00:05:00",
                "2020-04-22 00:10:00",
                "2020-04-22 00:15:00",
                "2020-04-22 00:20:00",
                "2020-04-22 00:25:00",
                "2020-04-22 00:30:00",
                "2020-04-22 00:35:00",
                "2020-04-22 00:40:00",
                "2020-04-22 00:45:00",
                "2020-04-22 00:50:00",
                "2020-04-22 00:55:00",
                "2020-04-22 01:00:00",
                "2020-04-22 01:05:00",
                "2020-04-22 01:10:00",
                "2020-04-22 01:15:00",
                "2020-04-22 01:20:00",
                "2020-04-22 01:25:00",
                "2020-04-22 01:30:00",
                "2020-04-22 01:35:00",
                "2020-04-22 01:40:00",
                "2020-04-22 01:45:00",
                "2020-04-22 01:50:00",
                "2020-04-22 01:55:00",
                "2020-04-22 02:00:00",
                "2020-04-22 02:05:00",
                "2020-04-22 02:10:00",
                "2020-04-22 02:15:00",
                "2020-04-22 02:20:00",
                "2020-04-22 02:25:00",
                "2020-04-22 02:30:00",
                "2020-04-22 02:35:00",
                "2020-04-22 02:40:00",
                "2020-04-22 02:45:00",
                "2020-04-22 02:50:00",
                "2020-04-22 02:55:00",
                "2020-04-22 03:00:00",
                "2020-04-22 03:05:00",
                "2020-04-22 03:10:00",
                "2020-04-22 03:15:00",
                "2020-04-22 03:20:00",
                "2020-04-22 03:25:00",
                "2020-04-22 03:30:00",
                "2020-04-22 03:35:00",
                "2020-04-22 03:40:00",
                "2020-04-22 03:45:00",
                "2020-04-22 03:50:00",
                "2020-04-22 03:55:00",
                "2020-04-22 04:00:00",
                "2020-04-22 04:05:00",
                "2020-04-22 04:10:00",
                "2020-04-22 04:15:00",
                "2020-04-22 04:20:00",
                "2020-04-22 04:25:00",
                "2020-04-22 04:30:00",
                "2020-04-22 04:35:00",
                "2020-04-22 04:40:00",
                "2020-04-22 04:45:00",
                "2020-04-22 04:50:00",
                "2020-04-22 04:55:00",
                "2020-04-22 05:00:00",
                "2020-04-22 05:05:00",
                "2020-04-22 05:10:00",
                "2020-04-22 05:15:00",
                "2020-04-22 05:20:00",
                "2020-04-22 05:25:00",
                "2020-04-22 05:30:00",
                "2020-04-22 05:35:00",
                "2020-04-22 05:40:00",
                "2020-04-22 05:45:00",
                "2020-04-22 05:50:00",
                "2020-04-22 05:55:00",
                "2020-04-22 06:00:00",
                "2020-04-22 06:05:00",
                "2020-04-22 06:10:00",
                "2020-04-22 06:15:00",
                "2020-04-22 06:20:00",
                "2020-04-22 06:25:00",
                "2020-04-22 06:30:00",
                "2020-04-22 06:35:00",
                "2020-04-22 06:40:00",
                "2020-04-22 06:45:00",
                "2020-04-22 06:50:00",
                "2020-04-22 06:55:00",
                "2020-04-22 07:00:00",
                "2020-04-22 07:05:00",
                "2020-04-22 07:10:00",
                "2020-04-22 07:15:00",
                "2020-04-22 07:20:00",
                "2020-04-22 07:25:00",
                "2020-04-22 07:30:00",
                "2020-04-22 07:35:00",
                "2020-04-22 07:40:00",
                "2020-04-22 07:45:00",
                "2020-04-22 07:50:00",
                "2020-04-22 07:55:00",
                "2020-04-22 08:00:00",
                "2020-04-22 08:05:00",
                "2020-04-22 08:10:00",
                "2020-04-22 08:15:00",
                "2020-04-22 08:20:00",
                "2020-04-22 08:25:00",
                "2020-04-22 08:30:00",
                "2020-04-22 08:35:00",
                "2020-04-22 08:40:00",
                "2020-04-22 08:45:00",
                "2020-04-22 08:50:00",
                "2020-04-22 08:55:00",
                "2020-04-22 09:00:00",
                "2020-04-22 09:05:00",
                "2020-04-22 09:10:00",
                "2020-04-22 09:15:00",
                "2020-04-22 09:20:00",
                "2020-04-22 09:25:00",
                "2020-04-22 09:30:00",
                "2020-04-22 09:35:00",
                "2020-04-22 09:40:00",
                "2020-04-22 09:45:00",
                "2020-04-22 09:50:00",
                "2020-04-22 09:55:00",
                "2020-04-22 10:00:00",
                "2020-04-22 10:05:00",
                "2020-04-22 10:10:00",
                "2020-04-22 10:15:00",
                "2020-04-22 10:20:00",
                "2020-04-22 10:25:00",
                "2020-04-22 10:30:00",
                "2020-04-22 10:35:00",
                "2020-04-22 10:40:00",
                "2020-04-22 10:45:00",
                "2020-04-22 10:50:00",
                "2020-04-22 10:55:00",
                "2020-04-22 11:00:00",
                "2020-04-22 11:05:00",
                "2020-04-22 11:10:00",
                "2020-04-22 11:15:00",
                "2020-04-22 11:20:00",
                "2020-04-22 11:25:00",
                "2020-04-22 11:30:00",
                "2020-04-22 11:35:00",
                "2020-04-22 11:40:00",
                "2020-04-22 11:45:00",
                "2020-04-22 11:50:00",
                "2020-04-22 11:55:00",
                "2020-04-22 12:00:00",
                "2020-04-22 12:05:00",
                "2020-04-22 12:10:00",
                "2020-04-22 12:15:00",
                "2020-04-22 12:20:00",
                "2020-04-22 12:25:00",
                "2020-04-22 12:30:00",
                "2020-04-22 12:35:00",
                "2020-04-22 12:40:00",
                "2020-04-22 12:45:00",
                "2020-04-22 12:50:00",
                "2020-04-22 12:55:00",
                "2020-04-22 13:00:00",
                "2020-04-22 13:05:00",
                "2020-04-22 13:10:00",
                "2020-04-22 13:15:00",
                "2020-04-22 13:20:00",
                "2020-04-22 13:25:00",
                "2020-04-22 13:30:00",
                "2020-04-22 13:35:00",
                "2020-04-22 13:40:00",
                "2020-04-22 13:45:00",
                "2020-04-22 13:50:00",
                "2020-04-22 13:55:00",
                "2020-04-22 14:00:00",
                "2020-04-22 14:05:00",
                "2020-04-22 14:10:00",
                "2020-04-22 14:15:00",
                "2020-04-22 14:20:00",
                "2020-04-22 14:25:00",
                "2020-04-22 14:30:00",
                "2020-04-22 14:35:00",
                "2020-04-22 14:40:00",
                "2020-04-22 14:45:00",
                "2020-04-22 14:50:00",
                "2020-04-22 14:55:00",
                "2020-04-22 15:00:00",
                "2020-04-22 15:05:00",
                "2020-04-22 15:10:00",
                "2020-04-22 15:15:00",
                "2020-04-22 15:20:00",
                "2020-04-22 15:25:00",
                "2020-04-22 15:30:00",
                "2020-04-22 15:35:00",
                "2020-04-22 15:40:00",
                "2020-04-22 15:45:00",
                "2020-04-22 15:50:00",
                "2020-04-22 15:55:00",
                "2020-04-22 16:00:00",
                "2020-04-22 16:05:00",
                "2020-04-22 16:10:00",
                "2020-04-22 16:15:00",
                "2020-04-22 16:20:00",
                "2020-04-22 16:25:00",
                "2020-04-22 16:30:00",
                "2020-04-22 16:35:00",
                "2020-04-22 16:40:00",
                "2020-04-22 16:45:00",
                "2020-04-22 16:50:00",
                "2020-04-22 16:55:00",
                "2020-04-22 17:00:00",
                "2020-04-22 17:05:00",
                "2020-04-22 17:10:00"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 1
                }
            }
        }
    ],
    "title": [
        {
            "text": "BCH-USD-SWAP",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false
        }
    ]
};
        chart_2b7c1e17bab84543838bdfbc2e9ddac8.setOption(option_2b7c1e17bab84543838bdfbc2e9ddac8);
    </script>
</body>
</html>
